*{
    padding: 0;
    margin: 0;
}
html, body{
    height: 100%;
}
:root{
    --C-orange: #F49A25;
    --C-blue: #2A353F;
    --C-light: #f4ead5;
    --C-lightGrey : #c2c2c2;
}
body{
    background-color: #FFF;
}
p, a, span{
    font-family: 'Nunito', sans-serif;
    color: var(--C-blue);
}
/* App */
.landing-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF;
}
.lvl-overview-wrapper{
    width: calc(100% - 60px);
    margin: 30px;
}
.lvl-overview-wrapper div{
    width: calc(50% - 12px);
    height: 200px;
    margin: 0 10px 10px 0;
    float: left;
    border-radius: 20px;
    background-color: #F2F2F2;
}
.lvl-overview-wrapper div p{
    display: table;
    padding: 15px 0 0 15px;
}
.lvl-overview-wrapper div p:first-child{
    font-weight: 700;
}
.lvl-overview-wrapper div p:last-child{
    width: calc(100% - 30px);
    padding: 0 0 0 15px;
    font-weight: 300;
}

/* Intro */
.intro-wrapper{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
    max-width: 500px;
    height: 100%;
    z-index: 9;
    background-color: #FFF;
    overflow: hidden;
}
.intro-header-wrapper{
    top: 0;
    width: 100%;
    height: 80px;
}
#app-name{
    position: relative;
    left: 0;
    padding: 20px 0 0 30px;
    color: var(--C-blue);
    font-weight: 700;
}
.intro-aboutText-wrapper{
    width: 100%;
    height: calc(100% - 80px - 80px);
    position: absolute;
    left: 0;
}
.intro-aboutText-wrapper-inner{
    width: calc(100% - 60px);
    margin-left: 30px;
    overflow: auto;
    height: 100%;
}
.intro-aboutText-wrapper:after{
    content: "";
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 80px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}
.intro-aboutText-wrapper-inner section{
    margin-bottom: 50px;
}
#app-about-text-thick{
    font-weight: 700;
}
#app-about-text{
    font-weight: 300;
}
.intro-button-wrapper{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
}
#intro-button-one{
    float: right;
    margin: 20px 30px 0 0;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: var(--C-orange);
}
.intro-login-wrapper{
    position: absolute;
    width: 100%;
    height: calc(100% - 80px - 80px);
    height: 100%;
    top: 80px;
    top: 0;
    left: 100%;
}
.intro-login-wrapper section{
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    width: 100%;
}
#intro-personal-msg{
    padding: 0 0 0 30px;
    font-size: 30px;
    font-weight: 700;
    color: var(--C-orange);
}
#nameInput{
    position: absolute;
    width: calc(100% - 60px - 50px);
    height: 70px;
    margin-left: 30px;
    padding: 0px 25px;
    border-radius: 15px;
    border: none;
    background-color: var(--C-orange);
    color: #FFF;
    font-size: 1em;
    bottom: calc(100px);
}
#nameInput:focus, #nameInput:hover{
    outline: none;
}
#intro-why-name{
    width: calc(100% - 60px);
    padding: 0 30px;
}
.intro-welcome-msg{
    position: absolute;
    width: 100%;
    height: calc(100% - 80px - 80px);
    height: 100%;
    top: 80px;
    top: 0;
    left: 200%;
    background-color: #FFF;
}
#intro-msg-response{
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    width: calc(100% - 150px);
    margin: 0 0 0 75px;
    text-align: center;
}
#intro-welcome-start{
    position: absolute;
    bottom: 100px;
}
#intro-welcome-skip{
    position: absolute;
    bottom: 20px;
    background-color: #FFF;
    color: var(--C-blue);
    border: 1px solid var(--C-lightGrey);
}
/* default styling */
button{
    border: none; 
    font-family: 'Nunito', sans-serif;
    color: #FFF;
    font-size: 1em;
}
button:hover, button:focus{
    outline: none;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(255, 255, 255, 0.5);
}
::-moz-placeholder { /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.5);
}
:-ms-input-placeholder { /* IE 10+ */
    color: rgba(255, 255, 255, 0.5);
}
:-moz-placeholder { /* Firefox 18- */
    color: rgba(255, 255, 255, 0.5);
}
.fading{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.defaultButton{
    width: calc(100% - 60px);
    margin: 0 0 0 30px;
    padding: 18px 25px;
    border-radius: 15px;
    background-color: var(--C-orange);
    font-size: 1em;
}