*{
    padding: 0;
    margin: 0;
}
html, body{
    height: 100%;
    overflow: hidden;
}
:root{
    --C-orange: #F49A25;
    --C-blue: #2A353F;
    --C-light: #f4ead5;
    --C-lightGrey : #c2c2c2;
}
body{
    background-color: #FFF;
}
p, a, span{
    font-family: 'Nunito', sans-serif;
    color: var(--C-blue);
}
/* App */
.landing-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    overflow: auto;
}
.landing-header{
    width: 100%;
    height: 150px;
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 100%);
    position: fixed;
    z-index: 2;
}
.landing-header section{
    width: 100%;
    height: 50px;
}
#menue-icon{
    float: right;
    padding: 10px 15px 0 0;
    margin: 10px 15px 0 0;
    z-index: 9;
}
#landing-msg{
    padding: 15px 30px;
    font-weight: 700;
    float: left;
}
#landing-points{
    padding: calc(15px + 0.2em) 30px;
    float: right;
    font-size: 0.8em;
}
.lvl-overview-wrapper{
    width: calc(100% - 60px);
    margin: 150px 30px 30px 30px;
    z-index: 1;
}
.lvl-overview-wrapper div{
    width: calc(50% - 10px);
    height: 200px;
    margin: 0 10px 10px 0;
    float: left;
    border-radius: 20px;
    background-color: #F2F2F2;
}
.lvl-overview-wrapper div:nth-child(2n){
    margin: 0 0px 10px 10px;
}
.lvl-overview-wrapper div p{
    display: table;
    padding: 15px 0 0 15px;
}
.lvl-overview-wrapper div p:first-child{
    font-weight: 700;
}
.lvl-overview-wrapper div p:last-child{
    width: calc(100% - 30px);
    padding: 0 0 0 15px;
    font-weight: 300;
}

/* level Structure */

.level-structure{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    display: none;
    z-index: 3;
}
#level-icon-close{
    float: right;
    padding: 10px;
    margin: 10px;
}
.level-header{
    width: 100%;
    height: calc(60px + 1em);
}
#level-header-level{
    padding: 30px;
}
.level-body{
    width: calc(100% - 60px);
    height: calc(100% - 60px - 1em - 100px);
    margin: 0 0 0 30px;
    overflow: auto;
}
.level-footer{
    width: 100%;
    height: 80px;
    padding: 20px 0 0 0;
}
#levelFooterButton{
    position: absolute;
    display: block;
}
/* answer types */

.typeOne{
    position: absolute;
    width: calc(100% - 110px);
    margin: 0 0 0 30px;
    padding: 18px 25px;
    border-radius: 15px;
    background-color: var(--C-blue);
    display: flex;
    justify-content: space-between;
}
.typeOne p{
    color: #FFF;
    font-size: 1em;
}
.typeTwo{
    
}

/* settings */
.settings{
    position: absolute;
    top: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--C-blue);
    z-index: 3;
}
#menue-icon-close{
    float: right;
    padding: 10px;
    margin: 10px;
}
.settings-inner{
    width: calc(100% - 60px);
    height: calc(100% - 170px);
    padding: 70px 30px 30px 30px;
    overflow: auto;
}
.settings-inner p{
    color: #FFF;
}
#settings-inner-header-p{
    font-weight: 700;
}
.settings-inner section{
    margin: 30px 0;
}
.settings-inner section p{
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    padding: 10px 0;
    margin-top: -1px;
}

/* Intro */
.intro-wrapper{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
    max-width: 500px;
    height: 100%;
    z-index: 9;
    background-color: #FFF;
    overflow: hidden;
}
.intro-header-wrapper{
    top: 0;
    width: 100%;
    height: 80px;
}
#app-name{
    position: relative;
    left: 0;
    padding: 20px 0 0 30px;
    color: var(--C-blue);
    font-weight: 700;
}
.intro-aboutText-wrapper{
    width: 100%;
    height: calc(100% - 80px - 80px);
    position: absolute;
    left: 0;
}
.intro-aboutText-wrapper-inner{
    width: calc(100% - 60px);
    margin-left: 30px;
    overflow: auto;
    height: 100%;
}
.intro-aboutText-wrapper:after{
    content: "";
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 80px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}
.intro-aboutText-wrapper-inner section{
    margin-bottom: 50px;
}
#app-about-text-thick{
    font-weight: 700;
}
#app-about-text{
    font-weight: 300;
}
.intro-button-wrapper{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
}
#intro-button-one{
    float: right;
    margin: 20px 30px 0 0;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: var(--C-orange);
}
.intro-login-wrapper{
    position: absolute;
    width: 100%;
    height: calc(100% - 80px - 80px);
    height: 100%;
    top: 80px;
    top: 0;
    left: 100%;
}
.intro-login-wrapper section{
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    width: 100%;
}
#intro-personal-msg{
    padding: 0 0 0 30px;
    font-size: 30px;
    font-weight: 700;
    color: var(--C-orange);
}
#nameInput{
    position: absolute;
    width: calc(100% - 60px - 50px);
    height: 70px;
    margin-left: 30px;
    padding: 0px 25px;
    border-radius: 15px;
    border: none;
    background-color: var(--C-orange);
    color: #FFF;
    font-size: 1em;
    bottom: calc(100px);
}
#nameInput:focus, #nameInput:hover{
    outline: none;
}
#intro-why-name{
    width: calc(100% - 60px);
    padding: 0 30px;
}
.intro-welcome-msg{
    position: absolute;
    width: 100%;
    height: calc(100% - 80px - 80px);
    height: 100%;
    top: 80px;
    top: 0;
    left: 200%;
    background-color: #FFF;
}
#intro-msg-response{
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    width: calc(100% - 150px);
    margin: 0 0 0 75px;
    text-align: center;
}
#intro-welcome-start{
    position: absolute;
    bottom: 100px;
}
#intro-welcome-skip{
    position: absolute;
    bottom: 20px;
    background-color: #FFF;
    color: var(--C-blue);
    border: 1px solid var(--C-lightGrey);
}

/* pop msg */

#popmsg{
    position: absolute;
    top: calc(100% + 1em);
    width: calc(90vw - 4em);
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 999;
    background-color: var(--C-orange);
    color: #FFF;
    padding: 1em 2em;
    border-radius: 30px;
    opacity: 0;
}

/* default styling */
button{
    border: none; 
    font-family: 'Nunito', sans-serif;
    color: #FFF;
    font-size: 1em;
}
button:hover, button:focus{
    outline: none;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(255, 255, 255, 0.5);
}
::-moz-placeholder { /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.5);
}
:-ms-input-placeholder { /* IE 10+ */
    color: rgba(255, 255, 255, 0.5);
}
:-moz-placeholder { /* Firefox 18- */
    color: rgba(255, 255, 255, 0.5);
}
.fading{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.defaultButton{
    width: calc(100% - 60px);
    margin: 0 0 0 30px;
    padding: 18px 25px;
    border-radius: 15px;
    background-color: var(--C-orange);
    font-size: 1em;
}